{{#if rowFields}}<VStack align="stretch" spacing={2}>
          <Text fontWeight="medium">{{label}}</Text>
          { {{path}}Fields.map((field, index) => (
            <HStack key={field.id} align="flex-end">
{{#each rowFields}}              <Input placeholder="{{label}}" {...register(`{{../path}}.${index}.{{path}}`{{#if valueAsNumber}}, { valueAsNumber: true }{{/if}})} data-testid={`{{../testId}}-${index}-{{path}}`} />
{{/each}}              <Button colorScheme="red" size="sm" onClick={() => remove{{arrayPascal}}(index)}>Remove</Button>
            </HStack>
          )) }
          <Button size="sm" onClick={() => append{{arrayPascal}}({{{defaultRowJson}}})}>Add {{elementLabel}}</Button>
        </VStack>{{else}}<FormControl isInvalid={!!( {{errorExpr}} )}>
          <FormLabel>{{label}}</FormLabel>
          <Input {...register("{{path}}")} data-testid="{{testId}}" placeholder="(arrays not yet supported in forms)" disabled />
          <FormErrorMessage>{ {{errorExpr}} }</FormErrorMessage>
        </FormControl>{{/if}}
