{{#if hasChildren}}<div style=\{{ position: "sticky", top: "{{top}}", zIndex: 100 }}{{{testidAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</div>{{else}}<div style=\{{ position: "sticky", top: "{{top}}", zIndex: 100 }}{{{testidAttr}}} />{{/if}}