<span{{{testidAttr}}}{{{styleAttr}}}>\{{ formatMoney({{{valueExpr}}}{{#if hasCurrency}}, {{{currency}}}{{/if}}{{#if hasDecimals}}{{#unless hasCurrency}}, undefined{{/unless}}, {{{decimals}}}{{/if}}) }}</span>
