{{#if hasSrc}}<img class="loom-avatar" src={{{src}}}{{#if hasAlt}} alt={{{alt}}}{{/if}}{{{testidAttr}}}{{{styleAttr}}} />{{else}}<span class="loom-avatar loom-avatar-empty"{{{testidAttr}}}{{{styleAttr}}}></span>{{/if}}
