{{#if hasChildren}}<div class="loom-paper"{{{testidAttr}}}{{{styleAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</div>{{else}}<div class="loom-paper"{{{testidAttr}}}{{{styleAttr}}}></div>{{/if}}
