<label class="loom-field">{{#if labelText}}<span class="loom-label">{{{labelText}}}</span>{{/if}}<input class="loom-input" type="number"{{{testidAttr}}}{{#if hasBind}} [value]="{{bind}}()" (input)="{{bind}}.set(+$any($event.target).value)"{{/if}} />{{#if hasError}}@if ( {{{error}}} ) {<span class="loom-error">\{{ {{{error}}} }}</span>}{{/if}}</label>
