{{#if hasChildren}}<div class="loom-toolbar"{{{testidAttr}}}{{{styleAttr}}}{{{a11yAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</div>{{else}}<div class="loom-toolbar"{{{testidAttr}}}{{{styleAttr}}}{{{a11yAttr}}}></div>{{/if}}
