<button class="loom-button {{#if (eq variant "primary")}}loom-button-primary{{else}}{{#if (eq variant "secondary")}}loom-button-secondary{{else}}loom-button-ghost{{/if}}{{/if}}"{{#if hasOnClick}} (click)='{{{onClick}}}'{{/if}}{{#if hasDisabled}} [disabled]='{{{disabled}}}'{{/if}}{{{testidAttr}}}{{{styleAttr}}}{{{a11yAttr}}}>{{{label}}}</button>
