<div class="flex flex-col gap-2">
          <Label for="{{testId}}">{{label}}</Label>
          <Select id="{{testId}}" data-testid="{{testId}}" bind:value={form.values.{{path}} }>{#each ({{{enumValuesJson}}}) as __v (__v)}<option value={__v}>{__v}</option>{/each}</Select>
          {#if form.errors["{{path}}"]}<Helper color="red">{form.errors["{{path}}"]}</Helper>{/if}
        </div>