{{#if hasChildren}}<section{{#if hasId}} id="{{id}}"{{/if}}{{{testidAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</section>{{else}}<section{{#if hasId}} id="{{id}}"{{/if}}{{{testidAttr}}}></section>{{/if}}