{{#if hasChildren}}<div className="container mx-auto px-4"{{{testidAttr}}}{{{styleAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</div>{{else}}<div className="container mx-auto px-4"{{{testidAttr}}}{{{styleAttr}}} />{{/if}}