{{#if hasTitle}}{{#if hasContent}}<Card withBorder padding="md"{{{testidAttr}}}>
{{indent}}<Title order={3}>{{{titleText}}}</Title>
{{indent}}{{{contentJsx}}}
{{closeIndent}}</Card>{{else}}<Card withBorder padding="md"{{{testidAttr}}}>
{{indent}}<Title order={3}>{{{titleText}}}</Title>
{{closeIndent}}</Card>{{/if}}{{else}}{{#if hasContent}}<Card withBorder padding="md"{{{testidAttr}}}>
{{indent}}{{{contentJsx}}}
{{closeIndent}}</Card>{{else}}<Card{{{testidAttr}}} />{{/if}}{{/if}}