{{#if hasTitle}}{{#if hasContent}}<Card{{#if (eq variant "outline")}} withBorder{{/if}}{{#if (eq variant "raised")}} shadow="{{#if hasShadow}}{{shadow}}{{else}}md{{/if}}"{{/if}}{{#unless hasVariant}} withBorder{{/unless}} padding="md"{{{testidAttr}}}{{{styleAttr}}}>
{{indent}}<Title order={3}>{{{titleText}}}</Title>
{{indent}}{{{contentJsx}}}
{{closeIndent}}</Card>{{else}}<Card{{#if (eq variant "outline")}} withBorder{{/if}}{{#if (eq variant "raised")}} shadow="{{#if hasShadow}}{{shadow}}{{else}}md{{/if}}"{{/if}}{{#unless hasVariant}} withBorder{{/unless}} padding="md"{{{testidAttr}}}{{{styleAttr}}}>
{{indent}}<Title order={3}>{{{titleText}}}</Title>
{{closeIndent}}</Card>{{/if}}{{else}}{{#if hasContent}}<Card{{#if (eq variant "outline")}} withBorder{{/if}}{{#if (eq variant "raised")}} shadow="{{#if hasShadow}}{{shadow}}{{else}}md{{/if}}"{{/if}}{{#unless hasVariant}} withBorder{{/unless}} padding="md"{{{testidAttr}}}{{{styleAttr}}}>
{{indent}}{{{contentJsx}}}
{{closeIndent}}</Card>{{else}}<Card{{{testidAttr}}}{{{styleAttr}}} />{{/if}}{{/if}}