{{#if hasColumns}}<Table{{#if striped}} striped{{/if}}{{#if highlight}} highlightOnHover{{/if}}{{#if sticky}} stickyHeader{{/if}}{{{testidAttr}}}>
{{indent}}<Table.Thead>
{{headIndent}}<Table.Tr>
{{#each columns}}{{../rowIndent}}<Table.Th>{{{this.header}}}</Table.Th>
{{/each}}{{headIndent}}</Table.Tr>
{{indent}}</Table.Thead>
{{indent}}<Table.Tbody>
{{headIndent}}{ {{{rowsExpr}}}.map(({{rowVar}}{{#if usesIdx}}, idx{{/if}}) => (
{{rowIndent}}<Table.Tr key={ {{{keyExpr}}} }{{#if hasRowTestid}} data-testid={ {{{rowTestid}}} }{{/if}}{{#if hasOnRowClick}} onClick={() => {{{onRowClick}}} }{{/if}}>
{{#each columns}}{{../cellIndent}}<Table.Td>{{{this.cellJsx}}}</Table.Td>
{{/each}}{{rowIndent}}</Table.Tr>
{{headIndent}})) }
{{indent}}</Table.Tbody>
{{closeIndent}}</Table>{{else}}<Table{{{testidAttr}}} />{{/if}}