{{#if hasChildren}}<div className="flex flex-col gap-4"{{{testidAttr}}}{{{styleAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</div>{{else}}<div className="flex flex-col gap-4"{{{testidAttr}}}{{{styleAttr}}} />{{/if}}