{{#if hasColumns}}<Table{{{testidAttr}}}>
{{indent}}<TableHeader>
{{headIndent}}<TableRow>
{{#each columns}}{{../rowIndent}}<TableHead>{{{this.header}}}</TableHead>
{{/each}}{{headIndent}}</TableRow>
{{indent}}</TableHeader>
{{indent}}<TableBody>
{{headIndent}}{ {{{rowsExpr}}}.map(({{rowVar}}{{#if usesIdx}}, idx{{/if}}) => (
{{rowIndent}}<TableRow key={ {{{keyExpr}}} }{{#if hasRowTestid}} data-testid={ {{{rowTestid}}} }{{/if}}{{#if hasOnRowClick}} onClick={() => {{{onRowClick}}} }{{/if}}>
{{#each columns}}{{../cellIndent}}<TableCell>{{{this.cellJsx}}}</TableCell>
{{/each}}{{rowIndent}}</TableRow>
{{headIndent}})) }
{{indent}}</TableBody>
{{closeIndent}}</Table>{{else}}<Table{{{testidAttr}}} />{{/if}}