{{#if hasChildren}}<div className="flex flex-row items-center justify-between gap-4"{{{testidAttr}}}{{{styleAttr}}}{{{a11yAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</div>{{else}}<div className="flex flex-row items-center justify-between gap-4"{{{testidAttr}}}{{{styleAttr}}}{{{a11yAttr}}} />{{/if}}