<button {{#if (eq variant "primary")}}mat-raised-button{{else}}{{#if (eq variant "secondary")}}mat-stroked-button{{else}}mat-button{{/if}}{{/if}}{{#if hasOnClick}} (click)='{{{onClick}}}'{{/if}}{{#if hasDisabled}} [disabled]='{{{disabled}}}'{{/if}}{{{testidAttr}}}{{{styleAttr}}}{{{a11yAttr}}}>{{{label}}}</button>
