<mat-form-field class="loom-field">{{#if labelText}}<mat-label>{{{labelText}}}</mat-label>{{/if}}<input matInput type="number"{{{testidAttr}}}{{#if hasBind}} [value]="{{bind}}()" (input)="{{bind}}.set(+$any($event.target).value)"{{/if}} /></mat-form-field>{{#if hasError}}@if ( {{{error}}} ) {<span class="loom-error">\{{ {{{error}}} }}</span>}{{/if}}
