{{#if rowFields}}
<div class="flex flex-col gap-2"><Label>{{label}}</Label>
<div v-for="(row, index) in form.values.{{path}}" :key="index" class="flex gap-2 items-end">
{{#each rowFields}}{{#if (eq template "field-input-int")}}<Input type="number" step="1" placeholder="{{label}}" :model-value="form.values.{{../path}}[index].{{path}}" @update:model-value="(v) => form.values.{{../path}}[index].{{path}} = Math.trunc(Number(v)) || 0" />{{else}}{{#if (eq template "field-input-decimal")}}<Input type="number" step="0.01" placeholder="{{label}}" :model-value="form.values.{{../path}}[index].{{path}}" @update:model-value="(v) => form.values.{{../path}}[index].{{path}} = Number(v) || 0" />{{else}}<Input placeholder="{{label}}" :model-value="form.values.{{../path}}[index].{{path}}" @update:model-value="(v) => form.values.{{../path}}[index].{{path}} = String(v ?? '')" />{{/if}}{{/if}}{{/each}}<Button type="button" variant="ghost" size="sm" @click="form.values.{{path}}.splice(index, 1)">Remove</Button>
</div>
<Button type="button" variant="outline" size="sm" @click='form.values.{{path}}.push({{{defaultRowJson}}})'>Add {{elementLabel}}</Button>
</div>
{{else}}
<div class="flex flex-col gap-2"><Label for="{{testId}}">{{label}}</Label><Input id="{{testId}}" data-testid="{{testId}}" placeholder="(arrays not yet supported in forms)" disabled /></div>
{{/if}}
