{{#if hasChildren}}<div class="container mx-auto px-4"{{{testidAttr}}}{{{styleAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</div>{{else}}<div class="container mx-auto px-4"{{{testidAttr}}}{{{styleAttr}}}></div>{{/if}}
