{{#if hasChildren}}<div class="flex flex-col gap-4"{{{testidAttr}}}{{{styleAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</div>{{else}}<div class="flex flex-col gap-4"{{{testidAttr}}}{{{styleAttr}}}></div>{{/if}}
