{{#if hasChildren}}<div class="rounded-lg border bg-card p-4 shadow-sm"{{{testidAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</div>{{else}}<div class="rounded-lg border bg-card p-4 shadow-sm"{{{testidAttr}}}></div>{{/if}}
