{{#if hasTo}}<router-link to={{{to}}} class="text-primary hover:underline"{{{testidAttr}}}{{{styleAttr}}}>{{{label}}}</router-link>{{else}}<a class="text-primary hover:underline"{{{testidAttr}}}{{{styleAttr}}}>{{{label}}}</a>{{/if}}
