<button pButton type="button"{{#if (eq variant "primary")}}{{else}}{{#if (eq variant "secondary")}} [outlined]="true"{{else}} [text]="true"{{/if}}{{/if}}{{#if hasOnClick}} (click)='{{{onClick}}}'{{/if}}{{#if hasDisabled}} [disabled]='{{{disabled}}}'{{/if}}{{{testidAttr}}}{{{styleAttr}}}{{{a11yAttr}}}>{{{label}}}</button>
