<div class="loom-field">{{#if labelText}}<label class="loom-field-label">{{{labelText}}}</label>{{/if}}<p-password [feedback]="false" [toggleMask]="true" styleClass="loom-field-input"{{{testidAttr}}}{{#if hasBind}} [ngModel]="{{bind}}()" (ngModelChange)="{{bind}}.set($event)"{{/if}}></p-password>{{#if hasError}}@if ( {{{error}}} ) {<span class="loom-error">\{{ {{{error}}} }}</span>}{{/if}}</div>
