<div class="loom-alert loom-alert-{{color}}" role="alert"{{{testidAttr}}}{{{styleAttr}}}>{{#if hasTitle}}<div class="loom-alert-title">{{title}}</div>{{/if}}<div class="loom-alert-message">{{{message}}}</div></div>
