<KeyValueRow label="{{label}}"><span data-testid="{{testId}}">{ {{{valueExpr}}} ? <Anchor component={Link} to={{expr toExpr}}><IdValue id={{expr valueExpr}} /></Anchor> : <EmptyValue />}</span></KeyValueRow>
