{{#if columns.length}}<Card>
        <Stack gap="xs">
          <Group justify="space-between" align="center">
            <Title order={4}>{{humanName}}</Title>
            <Text size="sm" c="dimmed">{ {{{arrayExpr}}}.length === 1 ? "1 item" : {{{arrayExpr}}}.length + " items"}</Text>
          </Group>
          <Table.ScrollContainer minWidth={400}>
            <Table striped highlightOnHover data-testid="{{testId}}">
              <Table.Thead>
                <Table.Tr>
                  {{#each columns}}<Table.Th>{{title}}</Table.Th>
                  {{/each}}
                </Table.Tr>
              </Table.Thead>
              <Table.Tbody>
                { {{{arrayExpr}}}.map((row) => (
                  <Table.Tr key={row.id} data-testid={`{{testId}}-row-${row.id}`}>
                    {{#each columns}}{{> (concat "cell-" kind)}}
                    {{/each}}
                  </Table.Tr>
                ))}
              </Table.Tbody>
            </Table>
          </Table.ScrollContainer>
        </Stack>
      </Card>{{else}}<Card><Title order={4}>{{humanName}}</Title><Text size="sm" c="dimmed" mt="xs">{JSON.stringify({{{arrayExpr}}})}</Text></Card>{{/if}}