<form onSubmit={handleSubmit(async (vals) => {{{submitBody}}})}{{{testidAttr}}}>
{{indent}}<Stack gap="md">
{{#each fieldHtmls}}{{../innerIndent}}{{{this}}}
{{/each}}{{innerIndent}}<Group justify="flex-end" mt="sm">
{{deepIndent}}<Button type="submit" loading={ {{submitPendingExpr}} } data-testid="{{submitTestid}}">{{submitLabel}}</Button>
{{innerIndent}}</Group>
{{indent}}</Stack>
{{closeIndent}}</form>