{{#if hasColumns}}<div class="w-full overflow-auto"{{{testidAttr}}}><table class="w-full caption-bottom text-sm">
{{indent}}<thead class="[&_tr]:border-b">
{{headIndent}}<tr class="border-b">
{{#each columns}}{{../rowIndent}}<th class="h-10 px-2 text-left align-middle font-medium text-muted-foreground">{{{this.header}}}</th>
{{/each}}{{headIndent}}</tr>
{{indent}}</thead>
{{indent}}<tbody class="[&_tr:last-child]:border-0">
{{headIndent}}{#each ({{{rowsExpr}}} ?? []) as {{rowVar}}{{#if usesIdx}}, idx{{/if}} ({{{keyExpr}}})}
{{rowIndent}}<tr class="border-b transition-colors hover:bg-muted/50"{{#if hasRowTestid}} data-testid={ {{{rowTestid}}} }{{/if}}{{#if hasOnRowClick}} onclick={() => {{{onRowClick}}} }{{/if}}>
{{#each columns}}{{../cellIndent}}<td class="p-2 align-middle">{{{this.cellJsx}}}</td>
{{/each}}{{rowIndent}}</tr>
{{headIndent}}{/each}
{{indent}}</tbody>
{{closeIndent}}</table></div>{{else}}<div class="w-full overflow-auto"{{{testidAttr}}}><table class="w-full text-sm"></table></div>{{/if}}