<KeyValueRow label="{{label}}"><span data-testid="{{testId}}">{ {{{valueExpr}}} ? <Link to={{expr toExpr}} className="text-primary hover:underline"><IdValue id={{expr valueExpr}} /></Link> : <EmptyValue />}</span></KeyValueRow>
