{{#if hasChildren}}<div className="flex flex-row items-center justify-between gap-4"{{{testidAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</div>{{else}}<div className="flex flex-row items-center justify-between gap-4"{{{testidAttr}}} />{{/if}}