{{#if hasChildren}}<div className="flex flex-row items-center gap-4"{{{testidAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</div>{{else}}<div className="flex flex-row items-center gap-4"{{{testidAttr}}} />{{/if}}