<Button variant="{{#if (eq variant "filled")}}default{{else}}secondary{{/if}}" onClick={() => setOpenModal("{{name}}")} data-testid="{{testId}}">{{#if icon}}<{{lucide icon}} className="mr-2 h-4 w-4" />{{/if}}{{humanName}}</Button>
