<Button variant="{{variant}}"{{#if icon}} leftSection={<{{icon}} size={16} stroke={2} />}{{/if}} onClick={() => open{{pascal name}}Modal({{camel name}})} data-testid="{{testId}}">{{humanName}}</Button>
