{{#if hasChildren}}<nav aria-label="Breadcrumb" class="loom-breadcrumbs d-flex align-center ga-2 text-body-2 mb-2"{{{testidAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</nav>{{else}}<nav aria-label="Breadcrumb" class="loom-breadcrumbs"{{{testidAttr}}} />{{/if}}