{{#if isMulti}}<div class="d-flex flex-column ga-2"{{{testidAttr}}} aria-hidden="true">
<v-skeleton-loader v-for="__i in {{count}}" :key="__i" type="text" height="{{height}}" />
</div>{{else}}<v-skeleton-loader type="text" height="{{height}}"{{{testidAttr}}} aria-hidden="true" />{{/if}}