<v-card class="pa-3"{{{testidAttr}}}>
{{indent}}<div class="text-caption text-medium-emphasis">{{{label}}}</div>
{{indent}}<div class="text-h5 font-weight-bold">{{{value}}}</div>
{{closeIndent}}</v-card>