{{#if hasChildren}}<div class="d-flex align-center justify-space-between ga-3"{{{testidAttr}}}{{{styleAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</div>{{else}}<div class="d-flex align-center justify-space-between ga-3"{{{testidAttr}}}{{{styleAttr}}}></div>{{/if}}