{{#if hasTitle}}<div class="loom-code-block"{{{testidAttr}}}>
<div class="loom-code-block-title">{{title}}</div>
<pre><code class="language-{{language}}">{{{source}}}</code></pre>
</div>{{else}}<pre class="loom-code-block"{{{testidAttr}}}><code class="language-{{language}}">{{{source}}}</code></pre>{{/if}}