{{#if hasChildren}}<div style="position: sticky; top: {{top}}; z-index: 100"{{{testidAttr}}}>
{{indent}}{{{childrenBlock}}}
{{closeIndent}}</div>{{else}}<div style="position: sticky; top: {{top}}; z-index: 100"{{{testidAttr}}} />{{/if}}